.button--default {
  background-color: var(--tertiary);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0.5rem;
  padding: 0.75rem 3rem;
  border-radius: 0.375rem;
}
