@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";

:root {
  --primary: #1d1d1d;
  --secondary: #eaeae8;
  --tertiary: #ffffff;

  --label-primary: #d9d6b0;
  --label-secondary: #d4b0d9;

  --drawer-width: 290px;
  --drawer-backdrop: rgba(29, 29, 29, 0.8);

  --modal-backdrop: rgba(29, 29, 29, 0.8);
  --modal-background-color: var(--secondary);

  --swiper-scrollbar-sides-offset: 1rem;
  --swiper-scrollbar-size: 1px;
  --swiper-scrollbar-border-radius: 0;
  --swiper-scrollbar-drag-bg-color: var(--primary);
  --swiper-scrollbar-bg-color: var(--secondary);
}

body {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--primary);
  background-color: var(--tertiary);
  letter-spacing: -0.01em;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary);
  letter-spacing: -0.02em;
}

select-box::part(trigger) {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  width: 75px;
  color: var(--primary);
  background-color: var(--tertiary);
  letter-spacing: -0.01em;
  font-family: Inter, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

select-box-item:not(:defined),
drawer-panel:not(:defined),
modal-panel:not(:defined) {
  display: none;
}

select-box:not(:defined) {
  padding: 0.75rem;
  width: 75px;
  height: 50px;
}

.image-placeholder {
  filter: blur(20px);
}

.text-lg {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

/* sm 640px */
@media (width >= 40rem) {
}

/* md 768px */
@media (width >= 48rem) {
}

/* lg 1024px */
@media (width >= 64rem) {
  h1 {
    font-size: 2.625rem;
  }
  .text-lg {
    font-size: 1.25rem;
  }
}

/* xl 1280px */
@media (width >= 80rem) {
}

/* 2xl 1536px */
@media (width >= 96rem) {
}

/* 3xl 2560px */
@media (width >= 160rem) {
}
