.swiper__nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  width: 64px;
  height: 64px;
  border: 1px solid var(--secondary);
  background-color: var(--tertiary);
}

.swiper__nav-button-prev {
  left: 10px;
}

.swiper__nav-button-prev-svg {
  transform: rotate(180deg);
}

.swiper__nav-button:disabled {
  display: none;
}

.swiper__nav-button-next {
  right: 10px;
}

swiper-container:not(:defined) .swiper__nav-button {
  display: none;
}

swiper-container:not(:defined) {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 0 16px 2rem 16px;
}

swiper-slide:not(:defined) {
  min-width: 300px;
  margin-right: 16px;
  flex: 0 0 calc((100% - 3 * 16px) / 4);
}

@media (width >= 64rem) {
  swiper-container:not(:defined) {
    padding: 0 0 4rem 0;
  }
  swiper-slide:not(:defined) {
    min-width: auto;
  }
}
