.top-bar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--tertiary);
}

.top-bar__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-transform: uppercase;
}

.top-bar__link {
  text-decoration: none;
}

.top-bar__link:hover {
  text-decoration: underline;
}

.top-bar__navigation {
  display: none;
}

.top-bar__account-menu-trigger {
  display: none;
  border: none;
}

.top-bar__drawer-trigger {
  border: none;
  gap: 0.5rem;
}

.top-bar__label {
  display: none;
}

.top-bar__home-link-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (width >= 64rem) {
  .top-bar__navigation {
    display: flex;
    gap: 2.625rem;
  }

  .top-bar__drawer-trigger {
    display: none;
  }

  .top-bar__account-menu-trigger {
    display: flex;
  }
}

@media (width >= 80rem) {
  .top-bar {
    padding: 2rem 2.625rem;
  }

  .top-bar__label {
    display: inline-block;
  }
}
